html {
  font-size: 12px;
  font-family: sans-serif;
}



/*.logo {
  background-color: #102F54;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
}*/

/*.textwrap {
  background-color: #F5F7FA;
  height: 110px;
  width: 200px;
  padding-left: 30px;
  color: #102F54;
}*/

/*a {
  text-decoration: none;
  color: #102F54;
}

/*h2 {
  font-size: 1.4rem;
  border-bottom: 1px solid #0F2C51;
  width: 112px;
  padding-bottom: 8px;
}*/
/*
img {
  margin: auto auto;
}

p{
  margin: 3px 0;
}
*/
